:root {
  --numRows: 16;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls {
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--numRows), 1fr);
  width: 800px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
}

#grid > div {
  aspect-ratio: 1;
  border: 0.5px solid gray;
}
